@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-main: #de4ea9;
    --color-btn-1: #48c1a1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body, html {
    height: 100%;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

form {
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 3.5rem;
    color: var(--color-main);
    margin-bottom: 50px;
    font-family: 'Permanent Marker', cursive;
}

.inputs {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding-bottom: 70px;
}

.inputs a {
    padding: 16px;
    border-radius: 12px;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    width: 45%;
}

.inputs a:nth-child(1) {
    color: var(--color-main);
    border: 2px solid var(--color-main);
    background-color: white;
}

.inputs a:nth-child(2) {
    background-color: var(--color-btn-1);
    color: white;
}

/* @media (max-width: 768px) {
    .inputs {
        flex-direction: column;
        width: 80%;
    }

    .inputs a {
        width: 100%;
        margin-bottom: 10px;
    }
} */
